$color__green: #386641;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

body {
  font-family: "Syne";
  background-color: $color__green;
  color: #fff;
}

.container {
  padding: 3rem 24px;
  min-height: 100svh;
}

h1 {
  font-size: 3rem;
}

.pre-loader {
  pointer-events: none;
  width: 100vw;
  height: 110vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 24px 20vh;

  h1 {
    font-size: 40vw;
  }
}

.landing {
  min-height: calc(70svh - 6rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.space {
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  &__index {
    text-transform: uppercase;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 900;
    gap: 24px;
    margin-bottom: 24px;
  }
}

.gallery {
  position: fixed;
  z-index: -1;
  inset: 0;
  height: 100lvh;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  img {
    height: 100vh;
    display: block;
  }
}
