$color__green: #386641;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne";
  background-color: $color__green;
  color: #fff;
}

.pre-loader {
  width: 100vw;
  height: 110vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 24px 20vh;
}
