$color__green: #386641;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne";
  background-color: $color__green;
  color: #fff;
}

.container {
  max-width: 1000px;
  padding: 3rem 24px;
  min-height: 100svh;
}

h1 {
  font-size: 3rem;
}

.pre-loader {
  pointer-events: none;
  width: 100vw;
  height: 110vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 24px 20vh;

  h1 {
    font-size: 40vw;
  }
}

.landing {
  min-height: calc(70svh - 6rem);
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 24px;
  }
}

.space {
  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}
